apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: worker-scaler
  namespace: vocal-remover
spec:
  scaleTargetRef:
    name: worker
  pollingInterval: 15
  cooldownPeriod: 300
  minReplicaCount: 0
  maxReplicaCount: 5
  triggers:
    - type: redis
      metadata:
        address: redis:6379
        listName: rq:queue:default
        listLength: "1"
        enableTLS: "false"
