apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vocal-remover.fullname" . }}-frontend-nginx
  labels:
    {{- include "vocal-remover.labels" . | nindent 4 }}
data:
  default.conf: |
    server {
        listen 80;
        server_name localhost;
        root /usr/share/nginx/html;
        index index.html;

        client_max_body_size 500M;

        location / {
            try_files $uri $uri/ /index.html;
        }

        location /api {
            proxy_pass http://{{ include "vocal-remover.fullname" . }}-api:8000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_cache_bypass $http_upgrade;
            proxy_read_timeout 600s;
            proxy_send_timeout 600s;
            client_max_body_size 500M;
        }
    }
